_output/
.idea
.iml

# Eclipse
.classpath
.project
.settings/

# Bazel.
bazel-bin
bazel-genfiles
bazel-skylb-api
bazel-out
bazel-testlogs

# Go vendor directory
#vendor

# Generated travis files
.travis.yml

# Java files
*.exe
target/
